# Python stuff
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Environment files
.env
.service_account.json
.memory.json
.streamlit/secrets.toml

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
service_account.json 
"service_account.json" 
"service_account.json" 
